<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BinderSettings" type="DatabaseHelper.BinderConfig, DatabaseHelper" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <BinderSettings>
    <business type="药品-疾病-症候" 
              conn="server=192.168.103.190;port=3306;database=tcmstdb;user=root;password=sinosoft-123456;" 
    sql_select_for_grid1="Select medicineid,medicinename search,effect,prescription from ba_medicine" 
    sql_select_for_grid2="SELECT a.dissynid,b.disname,c.synname FROM mgrdb.ba_disease_syndrome a, mgrdb.ba_disease b, mgrdb.ba_syndrome c WHERE dissynid IN (SELECT DISTINCT it_id FROM tcmstdb.bu_imtreatprelist_cpm WHERE cpm_id = {0})and a.diseaseid = b.diseaseid and a.syndromeid = c.syndromeid;" 
    sql_select_for_combobox="Select a.dissynid,b.disname,c.synname,CONCAT(b.disname,'---',c.synname) search from mgrdb.ba_disease_syndrome a, mgrdb.ba_disease b, mgrdb.ba_syndrome c WHERE a.diseaseid = b.diseaseid and a.syndromeid = c.syndromeid;" 
    sql_delete_record="delete from tcmstdb.bu_imtreatprelist_cpm where it_id = {relation@dissynid} and cpm_id = {single@medicineid};" 
    sql_update_single="update tcmstdb.ba_medicine set effect='{single@effect}' where medicineid={single@medicineid}" 
    sql_insert_record="insert into tcmstdb.bu_imtreatprelist_cpm(it_id,cpm_name,cpm_id,effect,drug_name,freqid,days,create_date,visit_count,useflag,freqname) values ({relation@dissynid},'{single@medicinename}',{single@medicineid},'{single@effect}','{single@prescription}',2,3,'{time@yyyy-MM-dd HH:mm:ss.fff}',0,1,'每日2次');" />
    <business type="疾病-症候" 
              conn="server=192.168.103.190;port=3306;database=mgrdb;user=root;password=sinosoft-123456;" 
  sql_select_for_grid1="select diseaseid,disname search,disdesc from mgrdb.ba_disease;" 
  sql_select_for_grid2="SELECT a.dissynid,a.diseaseid,b.disname,a.syndromeid,c.synname FROM mgrdb.ba_disease_syndrome a, mgrdb.ba_disease b, mgrdb.ba_syndrome c WHERE a.diseaseid = {0} and a.diseaseid = b.diseaseid and a.syndromeid = c.syndromeid;" 
  sql_select_for_combobox="select syndromeid,synname,CONCAT(synname,'---',syndesc) search from ba_syndrome;"  
  sql_delete_record="delete from mgrdb.ba_disease_syndrome where diseaseid = {single@diseaseid} and syndromeid = {relation@syndromeid};" 
  sql_update_single=""
  sql_insert_record="insert into mgrdb.ba_disease_syndrome(diseaseid,syndromeid,ctstamp,useflag) values ({single@diseaseid},{multi@syndromeid},'{time@yyyy-MM-dd HH:mm:ss.fff}',1);" />
  </BinderSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>